{% extends "admin/base.html" %}

{% block title %}EL SONAJERO{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">EL SONAJERO</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
