.nav1{
  border: 1px solid #5d2d7d;
  margin-top: 3px;
  margin-bottom: 100px;
  margin-right: 3px;
  
  background-color: #5d2d7d;
  height: 100%;

}
.leters1{
  color: white;
  margin-left: 10px;

}
.container1{
  width: 100%;
  margin-top: -0.15%;
}
