.topnav {
  overflow: hidden;
  border-width: 3.2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #703696;
  border-bottom-color: #703696;
}
.topnav a {
  float: left;
  color: #5d2d7d;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  border-left-style: solid;
  border-left-width:3px;
  border-color: #5d2d7d;
  border-left:-20%; 
  margin-right:0%;
  margin-left:4%;
  margin-top:10px;
  margin-bottom:10px;
  font-size: medium;
}
.topnav a:hover {
  background-color: #5d2d7d;
  width: -3%;
  color: white;
}

.cont{
  height: 20%;
  width: 30%;
  border-radius: 20%;
  background-color: red;
  color:red;
}

