.topnav2 a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav2 a:hover {
  background-color: white;
  color: white;
  margin-left: 23px;
}

.topnav2 a.active {
  background-color: #5d2d7d;
  color: white;
  margin-left: 23px;
}

.topnav2 .search-container {
  float: right;
  margin-bottom: 2%;
  margin-left: 156px;
  margin-bottom: 8px;
  
}
.topnav2 input[type=text] {
  padding: 1px 35px;
  margin-top:1px;
  font-size:17px;
  border: none;
  border-radius:55px;
  margin-top:2%;
  margin-left:3px;
  border: 1px solid white;
  background-color: #5d2d7d;
}
.topnav2 .search-container button {
  float: right;
  padding: 4px 9px;
  margin-top: 4px;
  background: #5d2d7d;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color:white;

}

.topnav2 .search-container button:hover {
  background: #5d2d7d;
  border-radius: 20px;
  margin-right: 30px;
}

@media screen and (max-width: 600px) {
  .topnav2 .search-container {
    float: none;

  }
  .topnav2 a, .topnav2 input[type=text], .topnav2 .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav2 input[type=text] {
    border: 1px solid #5d2d7d;


  }
}
