<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
                
        {% load staticfiles %}

        <link rel="icon" href="{% static 'website/images/favicon.png' %}?v=6">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'website/css/stylesheets/screen.css' %}?v=718">       
        <link rel="apple-touch-icon" href="{% static 'website/images/icon-apple-elsonajero.jpg' %}"> 
        
        {% if noticia %}

        <meta property="og:url"           content="http://www.elsonajero.com/noticia/{{noticia.slug}}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{noticia.titulo}}" />
        <meta property="og:description"   content="{{noticia.descripcion}}" />
        <meta property="og:image"         content="http://www.elsonajero.com/media/{{noticia.imagen_portada}}" />

        <title>{{noticia.titulo}}</title>
        <meta name="description" content="{{noticia.description}}">

        {% else %}

        {% if especial %}

        <meta property="og:url"           content="http://www.elsonajero.com/noticia/{{especial.slug}}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{especial.titulo}}" />
        <meta property="og:description"   content="{{especial.descripcion}}" />
        <meta property="og:image"         content="http://www.elsonajero.com/media/{{especial.imagen_portada}}" />

        <title>{{especial.titulo}}</title>
        <meta name="description" content="{{especial.description}}">

        {% else %}

        <title>EL SONAJERO | NOTICIAS 24 HORAS</title>
        <meta name="description" content="Noticias 24 horas de Colombia y el mundo.">

        <meta property="og:url"           content="http://www.elsonajero.com" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="EL SONAJERO | NOTICIAS 24 HORAS" />
        <meta property="og:description"   content="Noticias 24 horas de Colombia y el mundo." />
        <meta property="og:image"         content="http://www.elsonajero.com/static/website/images/logo_new.png" />

        {% endif %}

        {% endif %}

    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=314126778955326";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      <header>           
        <div class="header">        
            <div class="top">

                <div class="centered">

                <div class="buttonsdiv">

                <div class="buttons">
                    <a class="md-trigger personalizar" id="personalizar" href="#">A LA CARTA</a>
                    <a class="md-trigger participe" id="participe" href="#">PARTICIPE</a>
                </div> 

                </div>   
                
                <div class="logodiv">
                <a href="/">
                <img class="logo" src="{% static 'website/images/logo-nuevo.png' %}">                
                </a>
                </div>


                <div class="infodiv">
                <div class="date">
                    <p><span id="datedesc"></span> - <span id="hours"></span>:<span id="min"></span>:<span id="sec"></span></p>
                </div>

                <div class="socialicons">
                    {% for socialicon in socialicons %}
                    <a href="{{socialicon.url}}" target="_blank"><img class="socialicon" src="/media/{{socialicon.icon}}"></a>
                    {% endfor %}
                </div>
                </div>

                </div>

            </div>
            <div class="bottom">

                <div class="centered">

                <a href="/">
                <img class="logomobile" src="{% static 'website/images/logo-pequeno-blanco-min.png' %}">
                </a>

                <div class="buttons buttons-mobile">
                    <a class="md-trigger personalizar" id="personalizar" href="#">A LA CARTA</a>
                    <a class="md-trigger participe" id="participe" href="#">PARTICIPE</a>
                </div>                

                <nav> 
                    
                    <a href="/">INICIO</a>                   
                    {% for categoria in categorias %}
                    {% if categoria.slug == 'pido-la-palabra' %}
                    <a href="/{{categoria.slug}}">{{categoria.nombre}}</a>
                    {% else %}
                    <a href="/categoria/{{categoria.slug}}">{{categoria.nombre}}</a>
                    {% endif %}
                    {% endfor %}
                    <a href="#" class="more">MÁS...</a>
                    
                </nav>

                <div class="showmore">

                    {% for categoria in categorias %}
                    {% if categoria.slug == 'pido-la-palabra' %}
                    <a href="/{{categoria.slug}}">{{categoria.nombre}}</a>
                    {% else %}
                    <a href="/categoria/{{categoria.slug}}">{{categoria.nombre}}</a>
                    {% endif %}
                    {% endfor %}

                </div>

                <div class="search">
                    <form class="buscar-filter" action="/buscar/" method="GET">
                        <input type="text" name="search" placeholder="BUSCAR">
                        <button class="searchicon" type="submit" name="page" value="1" style="background: url({% static 'website/images/search.png' %})"></button>
                    </form>
                </div>

                <div class="menu md-trigger" data-modal="modal-7">
                <img src="{% static 'website/images/menu.png' %}">
                </div>

                </div>

                
            </div>
            <div class="specials">

                {% for especial in especiales %}

                <div class="special sp{{forloop.counter}}" id="-{{forloop.counter}}">

                <div class="content"> 

                    {% for noticia in especial.noticias %}              

                    <div class="specialitem">        
                    <a href="/noticia/{{noticia.slug}}">        
                    <img src="/media/{{noticia.imagen_portada}}" class="newbg" alt="">
                    <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
                    <div class="overlay">
                        <p>{{noticia.titulo}}</p>
                    </div>
                    </a>
                    </div>

                    {% endfor %}
                
                </div>

                <div class="label lb{{forloop.counter}}" >
                
                <div class="text">{{especial.especial.titulo}}</div>
                    
                </div>
                </div>
                {% endfor %}


                
                
        </div>
        </header>

        <main> 

            <div class="container">

            {% if especiales|length > 0 %}

            <section class="specialsresponsive">
        
            <div class="owl-carousel owl-carousel-resp owl-theme">

            {% for especial in especiales %}

            <div class="label lb{{forloop.counter}}">

                <a href="/especial/{{especial.especial.slug}}">
                
                {{especial.especial.titulo}}

                </a>
                    
            </div>

            {% endfor %}

            </div>                
        
            </section>

            {% endif %}
            
            {% block content %}
            {% endblock %}

            </div>

        </main>

        <div class="md-modal md-effect-17" id="modal-1">

            <div class="md-content">
                <div class="content">
                    <img class="logo" src="{% static 'website/images/logo-grande-blanco-min.png' %}">
                    <p>Selecciona tus intereses</p>

                    <div class="middle">
                    <div class="left">

                    <form id="preferencias">
                    {% csrf_token %}                    
                    <ul>                        

                        {% for preferencia in preferencias %}
                        {% if preferencia.status == "true" %}
                        <li> <input checked="checked" type="checkbox" id="categoria{{forloop.counter}}"> {{preferencia.categoria.nombre}}</li>
                        {% else %}
                        <li> <input type="checkbox" id="categoria{{forloop.counter}}"> {{preferencia.categoria.nombre}}</li>
                        {% endif %}

                        {% endfor %}

                    </ul>
                    </form>

                        <button class="md-close guardarpc" id="guardarpc">Guardar en este PC</button> <br>
                        <span>solo sera guardado en este navegador</span>
                    </div>
                    <div class="right">  
                        <ul>                        
                        <li>&nbsp;</li>                   
                        </ul>                
                        <button class="md-trigger md-close" style="display:none !important;">Registrarse</button> <br>
                        <span style="display:none;">se guardara en todos los navegadores</span>
                    </div> 
                    </div>

                    <a class="md-trigger md-close" data-modal="modal-5" href="#">Ya tengo cuenta</a>

                </div>
            </div>
        </div>

        <div class="md-modal sendnew" id="modal-2">
            <div class="md-content">
                <div class="content">
                    
                    <form id="newfiles">

                    {% csrf_token %}
                     
                    <div class="one">
                    <p>1. Ingresa la información de la noticia:</p>
                    <div class="box">
                    <input id="field1" name="title" type="text" value="" placeholder="Título">
                    <input id="field2" name="description" type="text" value="" placeholder="Descripción">
                    <textarea id="field3" name="content" rows="5" placeholder="Contenido"></textarea>
                    </div>
                    </div>
                    
                    <div class="two">
                    <p>2. Adjunta imagenes, audio o video:</p>
                    <div class="box">
                    <input id="field4" type="file" name="archivo" multiple placeholder="Imagenes, audio o video">
                    </div>
                    </div>

                    <div class="three">
                    <p>3. Ingresa tu información:</p>  
                    <div class="box">    
                    <input id="field5" name="firstname" type="text" value="" placeholder="Nombres">
                    <input id="field6" name="lastname" type="text" value="" placeholder="Apellidos">
                    <input id="field7" name="email" type="text" value="" placeholder="Email">  
                    <input id="field8" name="phone" type="text" value="" placeholder="Teléfono">
                    </div>
                    </div>

                    </form>

                    <h2 style="display:none;" id="errormsj">Revisa los campos, todos son obligatorios.</h2>

                    <button id="buttonsend" class="md-close">Enviar noticia</button>

                </div>
            </div>
        </div>

        <div class="md-modal md-effect-17" id="modal-3">

            <div class="md-content">
                <div class="content">
                    <img class="logo" src="{% static 'website/images/logo-grande-blanco-min.png' %}">
                    <p>Crear cuenta</p>

                    <div class="middle">
                    <p>Al crear cuenta. Acepto los <a href="#">Términos de uso</a> y declaro que leí la <a href="#">Política de privacidad</a></p>
                    <button class="md-trigger md-close" data-modal="modal-4">Crear cuenta</button>
                    <button class="md-close facebook">Conectate con facebook</button>
                    </div>

                    <p>¿Ya tienes una cuenta? <a class="md-trigger md-close" data-modal="modal-5" href="#">Conectate</a><p>

                </div>
            </div>
        </div>

        <div class="md-modal md-effect-17" id="modal-4">

            <div class="md-content">
                <div class="content">
                    <img class="logo" src="{% static 'website/images/logo-grande-blanco-min.png' %}">
                    <p>Crear cuenta</p>

                    <div class="middle fields">
                    <input type="text" value="" placeholder="Nombres">
                    <input type="text" value="" placeholder="Apellidos">
                    <input type="text" value="" placeholder="Correo electrónico">
                    <input type="text" value="" placeholder="Teléfono">
                    <input type="text" value="" placeholder="Contraseña">
                    <label>Genero (opcional)</label>
                    <button class="">Masculino</button>
                    <button class="">Femenino</button>
                    <label>Fecha de nacimiento</label>
                    <select><option>Mes</option></select>
                    <select><option>Dia</option></select>
                    <select><option>Año</option></select>
                    <button class="md-close">Registrate</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-modal md-effect-17" id="modal-5">

            <div class="md-content">
                <div class="content">
                    <img class="logo" src="{% static 'website/images/logo-grande-blanco-min.png' %}">
                    <p>Ingresar</p>

                    <div class="middle fields">
                    <input type="text" value="" placeholder="Correo electrónico">
                    <input type="text" value="" placeholder="Contraseña">
                    <button class="md-close">Conectate</button>
                    <p>Olvidaste el nombre de <a href="#">usuario</a> y/o <a href="#">contraseña</a></p>
                    <button class="md-close">Ingresa con facebook</button>
                    </div>

                    <a class="md-trigger md-close" data-modal="modal-3" href="#">Crear Cuenta</a>
                </div>
            </div>
        </div>

        <div class="md-modal md-effect-3" id="modal-6">

            <div class="md-content">
                <div class="content">
                    <img class="logo" src="{% static 'website/images/logo-grande-blanco-min.png' %}">
                    <h2>&nbsp;</h2>
                    <h2 id="alertmsj"></h2>                    
                </div>
            </div>

            <a class="md-trigger md-close" data-modal="modal-6" href="#">Abrir</a>
        </div>

        <div class="md-modal" id="modal-7">

            <div class="md-content">
                <div class="content">                    
                    <h2>Secciones</h2>
                    <ul>
                    <li><a href="/">INICIO</a></li>                   
                    {% for categoria in categorias %}
                    {% if forloop.last %}
                    <li><a href="/{{categoria.slug}}">{{categoria.nombre}}</a></li>
                    {% else %}
                    <li><a href="/categoria/{{categoria.slug}}">{{categoria.nombre}}</a></li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                    <button class="md-trigger md-close" href="#">Cerrar</button>
                </div>
            </div>            
        </div>
        
        <div class="md-overlay"></div><!-- the overlay element -->
        
        <footer>

        <div class="colum">

            <h2>Un producto:</h2>

            <a href="http://www.inrai.net" target="_blank"><img src="{% static 'website/images/logo-inrai-min.png' %}"></a>

        </div>  

        <div class="colum">

            <h2>Secciones</h2>

            <ul>

                {% for categoria in categorias %}
                    <li><a href="/categoria/{{categoria.slug}}">{{categoria.nombre}}</a></li>
                {% endfor %}
                
            </ul>

        </div> 

        <div class="colum">

            <h2>Enlaces de interés</h2>

            <ul>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Politicas de privacidad</a></li>
            </ul>

            <h2>Contáctenos</h2>
            <ul>
                <li><a href="#">director@elsonajero.com</a></li>
            </ul>

            <h2>Síguenos en:</h2>


            <div class="socialicons">
                    {% for socialicon in socialicons %}
                    <a href="{{socialicon.url}}" target="_blank"><img class="socialicon" src="/media/{{socialicon.icon}}"></a>
                    {% endfor %}
            </div>

        </div>   


        </footer>
    </body>
</html>
<link rel="stylesheet" href="{% static 'website/css/stylesheets/component.css' %}?v=2">
<link rel="stylesheet" href="{% static 'website/owlcarousel/assets/owl.carousel.min.css' %}" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/modernizr-custom.js' %}"></script>
<script async src="{% static 'website/js/main.js' %}?v=208"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99070976-1', 'auto');
  ga('send', 'pageview');
</script>