{% extends "website/base.html" %}

{% load staticfiles %}

{% block content %}



<section class="categorysection">

{% if categoria.nombre|slice:':4' == "COLO" %}

<section class="nacion">

    <h3 class="categorytitle cat5">COLOMBIA</h3>

            {% for noticia in destacadoseccion %}                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt=""> 
            </a>           
            </a>
            </div>
            <div class="newdescription">
                <div class="top">  
                    <a href="/noticia/{{noticia.slug}}">                  
                    <h1>{{noticia.titulo}}</h1>
                    {% if forloop.counter != 1 and  forloop.counter != 2 %}                    
                        <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}


{% if categoria.nombre == "MUNDO" %}

<section class="mundo">

    <h3 class="categorytitle">MUNDO</h3>

            {% for noticia in destacadoseccion %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt=""> 
            </a>           
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter != 4 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if categoria.nombre == "DEPORTES" %}

<section class="deportes">

    <h3 class="categorytitle cat2">DEPORTES</h3>

            {% for noticia in destacadoseccion %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt=""> 
            </a>           
            </a>
            </div>
            <div class="newdescription">
                <div class="top">  
                    <a href="/noticia/{{noticia.slug}}">                  
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter != 1 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if categoria.nombre|slice:':4' == "ECON" %}

<section class="economia">

    <h3 class="categorytitle cat2">ECONOMÍA</h3>

            {% for noticia in destacadoseccion %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt=""> 
            </a>           
            </a>
            </div>
            <div class="newdescription">
                <div class="top"> 
                    <a href="/noticia/{{noticia.slug}}">                   
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter == 3 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if categoria.nombre == "ENTRETENIMIENTO" %}

<section class="entretenimiento">

    <h3 class="categorytitle cat3">ENTRETENIMIENTO</h3>

            {% for noticia in destacadoseccion %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt=""> 
            </a>           
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter == 2 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if categoria.nombre|slice:':4' == "VIDA" %}

<section class="tecnologia">

    <h3 class="categorytitle cat8">VIDA MODERNA</h3>

            {% for noticia in destacadoseccion %}                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt=""> 
            </a>           
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter == 1 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <!-- <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p> -->
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if categoria.nombre == "VIRAL" %}

{% if viral|length > 0 %}

<section class="viral">

    <h3 class="categorytitle cat7">VIRAL</h3>

    <h4>#LOQUESUENA</h4>

            {% for noticia in viral %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">    
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter != 4 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <!-- <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p> -->
                    </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
            {% endfor %}   
            

            {% for noticia in viralprincipal %}

            <article class="new4">    

            <div class="content">
            <div class="newimage">    
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>    
                    <!-- <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p> -->
                    </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>


            {% endfor %}

</section>

{% endif %}

{% endif %}

{% if categoria.nombre == "AGENDA" %}

<section class="agenda">

    <h3 class="categorytitle cat2">AGENDA</h3>

            {% for noticia in destacadoseccion %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt=""> 
            </a>           
            </a>
            </div>
            <div class="newdescription">
                <div class="top">  
                    <a href="/noticia/{{noticia.slug}}">                  
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter != 1 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <!-- <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p> -->
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if categoria.nombre == "REGIONAL" %}

<section class="tecnologia">

    <h3 class="categorytitle cat4">REGIONAL</h3>

            {% for noticia in destacadoseccion %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter == 1 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.departamento.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

<div class="mainnews" id="categorynews">

    {% for noticia in noticias %}
         
        <a href="/noticia/{{noticia.slug}}">
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt=""> 
            </a>           
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1> 
                    <p>{{noticia.descripcion}}</p>
                    {% if noticia.categorias.all.0.id != 6 and noticia.categorias.all.0.id != 9 and noticia.categorias.all.0.id != 8 %}

                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>

                    {% endif %}
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    {% if noticia.categorias.all.0.nombre == "REGIONAL" %}
                    <p>{{noticia.departamento.nombre|slice:':12'}}</p>
                    {% else %}
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    {% endif %}                    
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
        </a>
                
    {% endfor %}

</div>

</section>

{% csrf_token %}
<input type="hidden" id="categoryid" value="{{categoria.id}}" >
<input type="hidden" id="categoria" value="{{categoria.id}}" >
<input type="hidden" id="noticia" value="" >

{% endblock %}