{% extends "website/base.html" %}

{% load staticfiles %}

{% block content %}


{% if especial != None and false %}

<div class="especial">

<div class="especialtext">

<h1>{{especial.titulo}}</h1>

<div class="social">  
                            
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/especial/{{especial.slug}}" target="_blank">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/especial/{{especial.slug}}" target="_blank">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/especial/{{especial.slug}}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>

</div>

</div>

<div class="especialimage">

<img class="newbg" src="/media/{{especial.imagen_portada}}">

</div>

</div>

{% endif %}


<section class="mainnews">

    {% for noticia in related %}
         
        <a href="/noticia/{{noticia.slug}}">
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1> 
                    <p>{{noticia.descripcion}}</p>
                    {% if noticia.categorias.all.0.id != 6 and noticia.categorias.all.0.id != 9 and noticia.categorias.all.0.id != 8 %}

                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>

                    {% endif %}
                            </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
        </a>
                
    {% endfor %}

</section>

{% endblock %}