{% extends "website/base.html" %}

{% block content %}

{% load staticfiles %}

{% if destacado1|length > 0 %}

<section class="topelement">

<img class="prev" src="{% static 'website/images/flecha1.png' %}">

<section class="radio">

    <div class="item">        
                
                  
                    <div class="newimage">      
                    <img src="{% static 'website/images/radio-online.jpg' %}?v=2" class="newbg" alt="">
                    </div>
                    <img id="playradio" class="icon playradio" src="{% static 'website/images/play_radio.png' %}" alt="">
                    <div class="overlay">
                        <p>Escucha en vivo: Cristalina Plus</p>
                    </div>
    </div>

</section>

<section class="lastnews">

    
        
        <div class="owl-carousel owl-theme carousel-lastnews">

        {% for noticia in destacado1 %}

            <div class="wordcontent">        
                <a href="/noticia/{{noticia.slug}}">  
                    <div class="newimage">      
                    <img src="/media/{{noticia.imagen_portada}}" class="newbg" alt="">
                    </div>
                    <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
                    <div class="overlay">
                        <p>{{noticia.titulo}}</p>
                    </div>
                </a>
            </div>

        {% endfor %}

        </div> 

                  
        
</section>

<img class="next" src="{% static 'website/images/flecha2.png' %}"> 

</section>

{% endif %}

<section class="breakingnews">

            {% for noticia in noticias %}                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>
                    {% if forloop.counter != 1 %}
                        <p>{{noticia.descripcion}}</p>
                                       
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>  
                    {% endif %} 
                    </a>                  
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>            
                
            {% endfor %}

</section>

{% if pidolapalabra1|length > 0 %}

<section class="lastwordsection">
<!-- 
        <img class="prev prev2" src="{% static 'website/images/flecha21.png' %}"> -->

        <h4>#Pidolapalabra</h4>
        
        <div class="owl-carousel owl-theme carousel">

        {% for noticia in pidolapalabra1 %}

            <div class="wordcontent">        
                <a href="/noticia/{{noticia.slug}}">
                    <div class="newimage">        
                    <img src="/media/{{noticia.imagen_portada}}" class="newbg" alt="">
                    </div>
                    <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
                    <div class="overlay">
                        <p>{{noticia.titulo}}</p>
                    </div>
                </a>
            </div>

        {% endfor %}

        </div>

       <!--  <img class="next next2" src="{% static 'website/images/flecha22.png' %}">     -->            
        
</section>

{% endif %}

{% if especial != None %}

<a href="/especial/{{especial.slug}}">

<div class="especial especialopen" id="/especial/{{especial.slug}}">

<div class="especialtext">

<h1>{{especial.titulo}}</h1>

<div class="social">  
                            
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/especial/{{especial.slug}}" target="_blank">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/especial/{{especial.slug}}" target="_blank">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/especial/{{especial.slug}}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>

</div>

</div>

<div class="especialimage">

<a href="/especial/{{especial.slug}}">

<img class="newbg" src="/media/{{especial.imagen_portada}}">

</a>

</div>

</div>

</a>

{% endif %}

{% if false %}

<section class="mainnews">

    <h3 class="categorytitle cat6">ACTUALIDAD</h3>

    {% for noticia in destacado1 %}         
        
            <article class="new{{forloop.counter}}">  
            
            <div class="content">
            <div class="newimage">

            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>

            </div>

            </a>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1> 
                    <p>{{noticia.descripcion}}</p>
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            
            </div>

            </article>
        
                
    {% endfor %}

</section>

{% endif %}

{% if nacion|length > 0 %}

<section class="nacion">

    <h3 class="categorytitle cat5">COLOMBIA</h3>

            {% for noticia in nacion %}                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt=""> 
            </a>           
            </a>
            </div>
            <div class="newdescription">
                <div class="top">  
                    <a href="/noticia/{{noticia.slug}}">                  
                    <h1>{{noticia.titulo}}</h1>
                    {% if forloop.counter != 1 and  forloop.counter != 2 %}                    
                        <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if mundo|length > 0 %}

<section class="mundo">

    <h3 class="categorytitle cat7">MUNDO</h3>

            {% for noticia in mundo %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">    
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter != 4 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if deportes|length > 0 %}

<section class="deportes">

    <h3 class="categorytitle cat2">DEPORTES</h3>

            {% for noticia in deportes %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage"> 
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">                    
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter != 1 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if regional|length > 0 %}

<section class="tecnologia">

    <h3 class="categorytitle cat4">REGIONAL</h3>

            {% for noticia in regional %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter == 1 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.departamento.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}


{% if economia|length > 0 %}

<section class="economia">

    <h3 class="categorytitle cat2">ECONOMÍA</h3>

            {% for noticia in economia %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">                    
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter == 3 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if entretenimiento|length > 0 %}

<section class="entretenimiento">

    <h3 class="categorytitle cat3">ENTRETENIMIENTO</h3>

            {% for noticia in entretenimiento %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter == 2 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if agenda|length > 0 %}

<section class="agenda">

    <h3 class="categorytitle cat2">AGENDA</h3>

            {% for noticia in agenda %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage"> 
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">                    
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter != 1 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <!-- <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p> -->
                    </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}

{% if tecnologia|length > 0 %}

<section class="tecnologia">

    <h3 class="categorytitle cat8">VIDA MODERNA</h3>

            {% for noticia in tecnologia %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter == 1 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <!-- <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p> -->
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</section>

{% endif %}


{% if viral|length > 0 %}

<section class="viral">

    <h3 class="categorytitle cat7">VIRAL</h3>

    <h4>#LOQUESUENA</h4>

            {% for noticia in viral %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">    
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>                    
                    {% if forloop.counter != 4 %}
                    <p>{{noticia.descripcion}}</p>
                    {% endif %}
                    <!-- <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p> -->
                    </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
            {% endfor %}   
            

            {% for noticia in viralprincipal %}

            <article class="new4">    

            <div class="content">
            <div class="newimage">    
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>    
                    <!-- <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p> -->
                    </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>


            {% endfor %}

</section>

{% endif %}


{% if false %}

<section class="viral">

<h4>#LOQUESUENA</h4>

<div class="left">

{% for noticia in viral %}
            
            <div class="viralcontent">
                <div class="content">        
                <a href="/noticia/{{noticia.slug}}">        
                    <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
                    <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
                    <div class="overlay">
                        <p>{{noticia.titulo}}</p>
                    </div>
                </a>
                </div>
            </div>

{% endfor %}

</div>

<div class="right">

            {% for noticia in viralprincipal %}
                
                
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1>
                    <!-- <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>  -->
                    </a>                   
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
            
                
            {% endfor %}

</div>

</section>

{% endif %}

<!-- <section class="weekend">
        
        {% for noticia in findesemana %}
        
        <a href="/noticia/{{noticia.slug}}">
        <article>    

            <div class="content">
                <h1 class="sectiontitle">FIN DE SEMANA</h1>
            <img src="/media/{{noticia.imagen_portada}}" class="newbg" alt="">
            <div class="newdescription">
                <div class="top">
                    <div class="left">
                        <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">              
                            <a href="#"><img src="{% static 'website/images/facebook-new2.png' %}"></a>
                            <a href="#"><img src="{% static 'website/images/twitter-new2.png' %}"></a>
                            <a href="#"><img src="{% static 'website/images/whatsapp-new2.png' %}"></a>
                    </div> 
                </div>
                <div class="bottom">                
                    <h1>{{noticia.titulo}}</h1>
                    <span>{{noticia.fecha_creacion|date:"Y-m-d"}}</span>
                </div>

            </div>
            </div>

        </article>
        </a>

                
        {% endfor %}

</section> -->

<div id="overlayvideo" class="overlayvideo">
    <img id="close" src="{% static 'website/images/close.png' %}">
    <video class="videooverlay" id="videooverlay" poster="" controls>
    </video>
</div>

{% endblock %}