{% extends "website/base.html" %}

{% load staticfiles %}

{% block content %}

<section class="new fullwidth">

<div class="content">

<!-- <h1>{{noticia.titulo}}</h1>

<h3>{{noticia.descripcion}}</h3> -->

{% if noticia.tipo_contenido.nombre == 'Video'%}


    <div class="video" >
        

        {% if noticia.vimeo_id != None and noticia.vimeo_id != '' %}

        <iframe class="vimeo" src="https://player.vimeo.com/video/{{noticia.vimeo_id}}?autoplay=1" width="100%" height="500px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        {% else %}

        <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">

        <!-- <video poster="/media/{{noticia.imagen_portada}}" controls>
            <source src="/media/{{noticia.video}}" type="video/mp4">
        </video> -->

        {% endif %}


        {% if noticia.fuente != ''%}
            <div class="fuente" >
                <p>{{noticia.fuente}}</p>
            </div>            
        {% endif %}
            <div class="redes">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/60segundos/" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/60segundos/" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/60segundos/">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                            </a>
            </div>
    </div>
{% else %}
    {% if noticia.tipo_contenido.nombre == 'Audio' %}
        
        <div class="audio">
        
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
        
            <audio controls autoplay>
                <source src="/media/{{noticia.audio}}" type="audio/mp3">
            </audio>

            {% if noticia.fuente != ''%}
            <div class="fuente" >
                <p>{{noticia.fuente}}</p>
            </div>
            {% endif %}
            
            <div class="redes">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/60segundos/" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/60segundos/" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/60segundos/">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                            </a>
            </div>

        </div>


    {% else %}
        <div class="image">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            
            {% if noticia.fuente != ''%}
            <div class="fuente" >
                <p>{{noticia.fuente}}</p>
            </div>
            {% endif %}

            <div class="redes">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/60segundos/" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/60segundos/" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/60segundos/">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                            </a>
            </div>

        </div>
    {% endif %}
{% endif %}

{% if referencias %}

<div class="textcontent" >

<h2>Referencias</h2>

<ul>
    {% for referencia in referencias %}         
        <a href="{{referencia.url}}">
            {{referencia.fuente}}
        </a>                
    {% endfor %}
</ul>

</div>

{% endif %}

<div class="comments">

<div class="fb-comments" data-href="http://www.elsonajero.com/noticia/{{noticia.slug}}" data-numposts="1" data-width="100%"></div>

</div>

</div>

</section>

<section class="mainnews">

    {% for noticia in related %}
         
        <a href="/noticia/{{noticia.slug}}">
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1> 
                    <p>{{noticia.descripcion}}</p>
                    {% if noticia.categorias.all.0.id != 6 and noticia.categorias.all.0.id != 9 and noticia.categorias.all.0.id != 8 %}

                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>

                    {% endif %}
                    </a>                    
                </div>
                <div class="bottom">
                    <div class="left">
                    <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/60segundos/" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/60segundos/" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/60segundos/">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
        </a>
                
    {% endfor %}

</section>

{% endblock %}