{% extends "website/base.html" %}

{% load staticfiles %}

{% block content %}

<section class="searchsection">

<!-- <form class="buscar-filter" action="/tag/" method="GET">
  <input name="tag" value="{{search.tag}}" type="search" placeholder="Ingrese el tag">
  <button type="submit" name="page" value="1">Buscar</button>
</form> -->

{% if noticias %}   

<div class="mainnews">                        

{% for noticia in noticias %}
         
        <a href="/noticia/{{noticia.slug}}">
            <article class="new{{forloop.counter}}">    

            <div class="content">
            <div class="newimage">
            <a href="/noticia/{{noticia.slug}}">
            <img class="lazy newbg" data-original="/media/{{noticia.imagen_portada}}" alt="{{noticia.titulo}}">
            <a href="/noticia/{{noticia.slug}}?autoplay=true">
            <img class="icon playvideo" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon}}" alt="">
            <img class="icon playvideo purple" title="{{noticia.titulo}}" poster="/media/{{noticia.imagen_portada}}" name="/media/{{noticia.video}}" src="/media/{{noticia.tipo_contenido.icon_hover}}" alt="">
            </a>
            </a>
            </div>
            <div class="newdescription">
                <div class="top">
                    <a href="/noticia/{{noticia.slug}}">
                    <h1>{{noticia.titulo}}</h1> 
                    <p>{{noticia.descripcion}}</p>
                    <p>{{noticia.fecha_creacion|date:"Y-m-d"}}</p>
                    </a>
                </div>
                <div class="bottom">
                    <div class="left">
                      <p>{{noticia.categorias.all.0.nombre|slice:':12'}}</p>
                    </div>
                    <div class="right">  
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/facebook-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/facebook-blue-2.png' %}">
                            </a>
                            <a href="https://twitter.com/home?status=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}" target="_blank">
                                <img src="{% static 'website/images/twitter-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/twitter-blue-2.png' %}">
                            </a>
                            <a href="whatsapp://send?text=Mira%20esta%20noticia%3A%20http://www.elsonajero.com/noticia/{{noticia.slug}}">
                                <img src="{% static 'website/images/whatsapp-new2.png' %}">
                                <img class="purple" src="{% static 'website/images/whatsapp-blue-2.png' %}">
                            </a>
                    </div>
                </div>

            </div>
            </div>

            </article>
        </a>
                
    {% endfor %}

</div>

{% else %}
<p>No se entontraron noticias, por favor intenta nuevamente.</p>
{% endif %}

<ul class="pagination">
  <li>
    {% if noticias.has_previous %}
      <a href="?search={{ search }}&page={{ noticias.previous_page_number }}">
        Ant.
      </a>
    {% else %}
      <span>Ant.</span>
    {% endif %}
  </li>

  {% for page_number in paginator.page_range %}
    {% if page_number ==  noticias.number%}
      <li class="active">
        <span>{{ page_number }}</span>
      </li>
    {% else %}
      <li>
        <a href="?search={{ search }}&page={{ page_number }}">
          {{ page_number }}
        </a>
      </li>
    {% endif %}
  {% endfor %}


  <li>
    {% if noticias.has_next %}
      <a href="?search={{ search }}&page={{ noticias.next_page_number }}">
        Sig.
      </a>
    {% else %}
      <span>Sig.</span>
    {% endif %}
  </li>
</ul>

</section>

{% endblock %}