{% load staticfiles %}

<script src="{% static 'website/js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'website/js/jquery.teleprompter.js' %}"></script>

<h1>{{noticia.titulo|safe}}</h1>

{% if mensaje %}

<h3>{{mensaje}}!</h3>

{% endif %}  

<div class="teleprompter" id="teleprompter">
	<div class="teleprompter-script">
		<p>{{noticia.texto}}</p>
	</div>
</div>


<form action="/admin/website/noticia/" method="post" class="form">
    {% csrf_token %}
    <input id="id" name="id" type="hidden" value="{{noticia.id}}">   
        <button type="submit" class="btn btn-primary">
            < Regresar
        </button>   
</form>


<script type="text/javascript">

$(document).ready(function () {
        $("#teleprompter").teleprompter();
      });

</script>

<style type="text/css">

.teleprompter {
  height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
  background: #111;
  color: #eee;
  height: 550px;
  margin: 0 auto;
  width: 90%
}

.teleprompter-script {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

h1, h3 {
   
   text-align: center;
}

button {

	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2%;
}

p {
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 6rem;
  margin: 0;
}

button {
     display: inline-block !important;
     background-color: #000000;
     color: #FFFFFF;
     padding: 10px;
     border: none;
     margin: 20px !important;
     cursor: pointer
   }

</style>